<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="obj1" class="com.cyclone.beans.Sample2">
        <property name="s2" value="100"/>
    </bean>

    <bean id="obj2" class="com.cyclone.beans.Sample1">
        <property name="id" value="200" />
        <property name="s1">
            <ref bean="obj1"/>
        </property>
    </bean>
</beans>